<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A friendly website that has a lot of phone cases" />
    <meta name="keywords" content="Phones,Phone,Cases,PhoneCase,Iphone,Samsung,HTC" />
    <title>- @this.ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

</head>
<body>
    <div class="container-fluid mt-5">
        <div class="row">
            <nav class="col-md-2 d-block  bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cases" asp-action="Index">Cases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Categories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Manufacturers">Manufacturers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Devices">Devices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Orders">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Back to Site</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-md-10">
                @this.RenderBody();
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <div id="loadingDiv"> <img src="~/loading.gif" /></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zooming/2.1.1/zooming.min.js" integrity="sha512-fAw3hLoeRiu86io4KGdDLz/Ed3OiNUMBXamPPmpqswqqJaU2YzbEBbvvr3/OyGPyMl1ZyijMuUI2dSwiDM5RiQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js" ></script>
    <script type="text/javascript" src="~/js/pseudo.js"></script>
    <script type="text/javascript" src="~/js/nav.js"></script>
    <script type="text/javascript" src="~/js/shopping-cart.js"></script>
    <script defer>
        $(document).ready(function () {
            // updates on cart quantity on load
            GetCount().then(function (count) {
                updateBagQuantity(count);
            })
            $('#loadingDiv')
                .hide()
                .ajaxStart(function () {
                    $(this).show();
                })
                .ajaxStop(function () {
                    $(this).hide();
                })
            $.extend(true, $.fn.dataTable.defaults, {
                mark: true
            });
        })
    </script>
    @await this.RenderSectionAsync("Scripts", required: false)
    <style>
        mark{
            background:lightblue!important;
        }
    </style>
</body>
</html>