@model CasesNET.Web.ViewModels.Administration.Orders.OrderListingViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Created On
            </th>
            <th>
              Status
            </th>
            <th> Utilities</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.CreatedOn
            </td>
            <td>
                @item.OrderStatus
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
