@using CasesNET.Web.ViewModels.Categories
@model CategoryListingModel
@{ 
    this.ViewData["title"] = "Categories";
}
<div class="category-selection-wrapper container">
    <h1 class="text-center m-5 text-uppercase">Categories</h1>
    <div class="row ">
        @foreach (var category in Model.Categories)
        {

            @await Html.PartialAsync("../Shared/_CategoryPartial.cshtml", category)

        }
    </div>
</div>
<style>
    .category-selection-wrapper{
        margin-top:200px;
    }
</style>
