@using CasesNET.Web.ViewModels.Shared
@model CategoryViewModel



<div class="col-6 col-md-6 col-lg-4 col-xl-3 text-center">
    <div class="card category-card">
        <a asp-area="" asp-controller="Cases" asp-action="ByCategory" asp-route-id="@Model.Id">
            <img class="card-img-top" src="~/Images/Categories/@Model.ImageUrl" alt="@Model.ImageUrl">
        </a>
        <div class="card-body">
            <a asp-area="" asp-controller="Categories" asp-action="All" asp-route-id="@Model.Id">
                <p class="card-text text-uppercase text-weight">@Model.Name</p>
            </a>
        </div>
    </div>
</div>
