@using CasesNET.Data.Common.Repositories
@using System.Linq;
@using CasesNET.Data.Models
@inject IRepository<Manufacturer> Brands
@inject IRepository<Category> Categories
@{ 
    var brands = Brands.AllAsNoTracking().Select(x => new
    {
        Name = x.Name,
        Id = x.Id,
        Devices = x.Devices.Select(y=> new
        {
            Name = y.Name,
            Id = y.Id,
            
        }),
    });
    var categories = Categories.AllAsNoTracking().Select(x => new
    {
        Name = x.Name,
        Id = x.Id
    });
}
<div class="container menu mt-4">
    <div class="d-md-flex justify-content-between">
        <div class="dropdown">
            <a class="border-0 hoverable dropdown-toggle list-group-item list-group-item-action text-center" role="button" id="Brand-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manufacturers</a>
            <ul class="dropdown-menu text-center" aria-labelledby="brand-dropdown">
                <li class="dropdown-item text-uppercase"><a asp-area="" asp-controller="Manufacturers" asp-action="All">All Manufacturers</a></li>

                @foreach (var brand in brands)
                {
                    <li class="dropdown-item text-uppercase"><a class="list-group-item-action hoverable" asp-area="" asp-controller="Manufacturers" asp-action="Byid" asp-route-id="@brand.Id">@brand.Name</a></li>
                }
            </ul>
        </div>
        <div class="dropdown">
            <a class="border-0 hoverable dropdown-toggle list-group-item list-group-item-action text-center" role="button" id="category-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu text-center" aria-labelledby="category-dropdown">
                <li class="dropdown-item text-uppercase"><a asp-area="" asp-controller="Categories" asp-action="All">All Categories</a></li>

                @foreach (var category in categories)
                {
                    <li class="dropdown-item text-uppercase"><a class="list-group-item-action hoverable" asp-controller="Cases" asp-action="ByCategory" asp-route-id="@category.Id">@category.Name</a></li>
                }
            </ul>
        </div>
        <a asp-area="" asp-controller="Cases" asp-action="WithEmoji" class="border-0 hoverable list-group-item list-group-item-action text-center">Cases with Emoji</a>
        <a asp-area="" asp-controller="Cases" asp-action="OurSelection" class="border-0 hoverable list-group-item list-group-item-action text-center">Our selection</a>
        <a asp-area="" asp-controller="Cases" asp-action="WithPhoto" class="border-0 hoverable list-group-item list-group-item-action text-center">Cases with Photo</a>
    </div>
    </div>