.card-case .btn-utility i {
    font-size: 1.3rem;
    color: lightblue!important;
}

.card-case .btn-utility i:hover {
    color: rgb(200, 0, 0)!important;
    transition: 0.3s;
}

.card-case:hover .card-text {
    color: lightblue!important;
    background: none;
    transition: 0.3s;
}

.look-btn {
    background-color: lightblue;
    border: 1px solid lightblue!important;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.look-btn:hover {
    border: 1px solid black!important;
}

.card-case .btn-group {
    position: absolute;
    top: 0px;
    justify-content: space-between;
}
.card-btn {
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 3px;
}