@using  CasesNET.Web.ViewModels.Cases
@using System.Linq
@using System.Collections.Generic
@model CasesByCategoryViewModel
@{
    this.ViewData["title"] = Model.CategoryName.ToUpper();
}

<div class="cases-selection-wrapper container">
    <h1 class="text-center m-5 text-uppercase">@Model.CategoryName</h1>
    <div class="row ">
        @foreach (var phoneCase in Model.Cases)
        {

            @await Html.PartialAsync("../Shared/_CasePartial.cshtml", phoneCase)

        }
    </div>
</div>
<partial name="_PagingPartial" model="@Model" />
<style>
    .category-selection-wrapper {
        margin-top: 200px;
    }
</style>
